@media screen and (max-width: 375px)  {

    .content {
        max-width: 343px;
    }

    .header-content {
        flex-direction: column;
        align-items: center;
        gap: var(--gap);
    }

    .h1 {
        font-size: 32px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: var(--gap-2);
    }

    .sneaker__card {
        padding: 24px;
    }

    .sneaker__card--descr {
        flex-direction: column;
        row-gap: var(--gap-2);
    }

    .sneaker__card--descr div {
        width: 100%;
    }

    .sneaker__card--title {
        font-size: 32px;
    }

    .sneaker__card--subtitle {
        font-size: 20px;
    }

    .descr__company {
        line-height: 24px;
    }

    .descr__company--text {
        font-size: 16px;
    }

    .descr__sneaker--title {
        font-size: 24px;
    }

    .descr__sneaker--param {
        font-size: 16px;
    }
}